/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/global.scss */
.header, .service, .work, .pricing, .client {
  padding-left: 10%;
  padding-right: 10%;
}

/* line 11, ../sass/global.scss */
.service .vlhl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 3, ../sass/_header.scss */
.header {
  background: white;
}
/* line 6, ../sass/_header.scss */
.header .collapse {
  justify-content: flex-end;
}
/* line 11, ../sass/_header.scss */
.header .active a span {
  color: #ff0051 !important;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
/* line 20, ../sass/_header.scss */
.header .nav-link {
  color: gray;
}
/* line 22, ../sass/_header.scss */
.header .nav-link span:hover {
  color: #ff0051 !important;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
/* line 33, ../sass/_header.scss */
.header .nav-item {
  padding-left: 2%;
}

/* line 7, ../sass/global.scss */
.header, .service, .work, .pricing, .client {
  padding-left: 10%;
  padding-right: 10%;
}

/* line 11, ../sass/global.scss */
.service .vlhl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 3, ../sass/_banner.scss */
.banner {
  text-align: center;
}
/* line 4, ../sass/_banner.scss */
.banner .banBgr {
  background: url('../images/banner.png?1489567285');
  background-size: cover;
  background-position: center;
  height: 520px;
  width: 100%;
}
/* line 10, ../sass/_banner.scss */
.banner .bannerTitle1 {
  padding-top: 3%;
  color: white;
  font-size: 24px;
}
/* line 15, ../sass/_banner.scss */
.banner img {
  margin: 2%;
}
/* line 18, ../sass/_banner.scss */
.banner .bannerTitle2 {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

/* line 7, ../sass/global.scss */
.header, .service, .work, .pricing, .client {
  padding-left: 10%;
  padding-right: 10%;
}

/* line 11, ../sass/global.scss */
.service .vlhl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 4, ../sass/_service.scss */
.service {
  text-align: center;
  padding-bottom: 10%;
}
/* line 9, ../sass/_service.scss */
.service .serviceText {
  padding: 8%;
}
/* line 12, ../sass/_service.scss */
.service .serviceText .title {
  color: #ff0051;
  font-size: 19.2px;
}
/* line 15, ../sass/_service.scss */
.service .serviceText .subTitle {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14.4px;
}
/* line 18, ../sass/_service.scss */
.service .serviceText img {
  width: 10%;
}
/* line 24, ../sass/_service.scss */
.service .dash img {
  width: 30%;
}
/* line 28, ../sass/_service.scss */
.service .downArrow {
  padding: 5%;
}
/* line 34, ../sass/_service.scss */
.service .vlhl-center .titleFix {
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
}
/* line 39, ../sass/_service.scss */
.service .vlhl-center .addBtn {
  padding-top: 10px;
}
/* line 41, ../sass/_service.scss */
.service .vlhl-center .addBtn button {
  color: white;
  border: #000;
  background: #000;
}
/* line 49, ../sass/_service.scss */
.service .vlhl-center .card-img-top {
  padding-top: 15%;
}
/* line 54, ../sass/_service.scss */
.service .vlhl-center:hover {
  background: #ff0051;
  color: white;
  transition: background-color 1s;
}

/* line 7, ../sass/global.scss */
.header, .service, .work, .pricing, .client {
  padding-left: 10%;
  padding-right: 10%;
}

/* line 11, ../sass/global.scss */
.service .vlhl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 3, ../sass/_work.scss */
.work {
  background: url('../images/banner.png?1489567285');
  background-size: cover;
  background-position: center;
  text-align: center;
  height: auto;
}
/* line 7, ../sass/_work.scss */
.work .workText {
  padding-top: 8%;
}
/* line 9, ../sass/_work.scss */
.work .workText .title {
  color: #ff0051;
  font-size: 19.2px;
}
/* line 12, ../sass/_work.scss */
.work .workText .subTitle {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14.4px;
  color: #FFF;
}
/* line 16, ../sass/_work.scss */
.work .workText img {
  width: 10%;
}
/* line 20, ../sass/_work.scss */
.work .workBtn {
  padding: 3%;
}
/* line 26, ../sass/_work.scss */
.work .workPic1 {
  z-index: 1;
  width: 100%;
  height: 200px;
  background: url('../images/banner.png?1489567285');
  background-size: cover;
  background-position: center;
}
/* line 31, ../sass/_work.scss */
.work .workPic1 .lspan {
  font-size: 1.8em;
}
/* line 35, ../sass/_work.scss */
.work .line {
  padding: 6%;
}
/* line 39, ../sass/_work.scss */
.work .icon {
  padding-top: 60%;
}
/* line 41, ../sass/_work.scss */
.work .icon span {
  padding: 3px;
}
/* line 44, ../sass/_work.scss */
.work .icon .search {
  border: 2px solid #fff;
}
/* line 46, ../sass/_work.scss */
.work .icon .search i {
  padding: 2px;
}
/* line 50, ../sass/_work.scss */
.work .icon .big {
  border: 2px solid #fff;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 55, ../sass/_work.scss */
.work .icon .love {
  border: 2px solid #fff;
}
/* line 59, ../sass/_work.scss */
.work button {
  margin-right: 10px;
}
/* line 62, ../sass/_work.scss */
.work button:hover {
  background: #ff0051;
  transition: background-color 1s;
  color: white;
}

/* line 7, ../sass/global.scss */
.header, .service, .work, .pricing, .client {
  padding-left: 10%;
  padding-right: 10%;
}

/* line 11, ../sass/global.scss */
.service .vlhl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 3, ../sass/_feature.scss */
.feature {
  text-align: center;
  padding-bottom: 0%;
}
/* line 6, ../sass/_feature.scss */
.feature .featureText {
  padding: 8%;
}
/* line 8, ../sass/_feature.scss */
.feature .featureText .title {
  color: #ff0051;
  font-size: 19.2px;
}
/* line 11, ../sass/_feature.scss */
.feature .featureText .subTitle {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14.4px;
}
/* line 14, ../sass/_feature.scss */
.feature .featureText img {
  width: 10%;
}
/* line 18, ../sass/_feature.scss */
.feature .featureRight {
  background: url('../images/banner.png?1489567285');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
/* line 24, ../sass/_feature.scss */
.feature .card {
  width: 15rem;
  text-align: left;
  border: 0;
  margin: 0 auto;
}
/* line 30, ../sass/_feature.scss */
.feature .paddingFix {
  padding-left: 10%;
}
/* line 33, ../sass/_feature.scss */
.feature .iconTitle {
  font-weight: bold;
  padding: 5% 0;
}
/* line 37, ../sass/_feature.scss */
.feature .iconSubTitle {
  color: gray;
  padding: 5% 0;
}

/* line 7, ../sass/global.scss */
.header, .service, .work, .pricing, .client {
  padding-left: 10%;
  padding-right: 10%;
}

/* line 11, ../sass/global.scss */
.service .vlhl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 3, ../sass/_pricing.scss */
.pricing {
  text-align: center;
  padding-bottom: 8%;
}
/* line 7, ../sass/_pricing.scss */
.pricing .pricingText {
  padding-top: 8%;
  padding-bottom: 5%;
}
/* line 10, ../sass/_pricing.scss */
.pricing .pricingText .title {
  color: #ff0051;
  font-size: 19.2px;
}
/* line 15, ../sass/_pricing.scss */
.pricing .pricingText .subTitle {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14.4px;
}
/* line 21, ../sass/_pricing.scss */
.pricing .pricingText img {
  width: 10%;
}
/* line 25, ../sass/_pricing.scss */
.pricing .card-title {
  padding: 5%;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 30, ../sass/_pricing.scss */
.pricing .card-text {
  padding-bottom: 10%;
}
/* line 33, ../sass/_pricing.scss */
.pricing .delTopLine {
  border-top: 0px;
}
/* line 36, ../sass/_pricing.scss */
.pricing .delBottomLine {
  border-bottom: 0px;
}
/* line 40, ../sass/_pricing.scss */
.pricing .list-group li {
  justify-content: center;
}
/* line 45, ../sass/_pricing.scss */
.pricing .priPic img {
  width: 100px;
  height: 100px;
}
/* line 50, ../sass/_pricing.scss */
.pricing .priList {
  padding-top: 7%;
  padding-bottom: 7%;
}
/* line 53, ../sass/_pricing.scss */
.pricing .priList li {
  padding-top: 7%;
  padding-bottom: 7%;
}
/* line 57, ../sass/_pricing.scss */
.pricing .priList .priListSec {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
/* line 61, ../sass/_pricing.scss */
.pricing .priList .priListThi {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
/* line 66, ../sass/_pricing.scss */
.pricing button {
  background-color: #ff0051;
}
/* line 69, ../sass/_pricing.scss */
.pricing .card-block:hover {
  background: #ff0051;
  transition: background-color 1s;
  color: white;
}
/* line 72, ../sass/_pricing.scss */
.pricing .card-block:hover button {
  background: white;
  transition: background-color 1s;
  color: #ff0051;
}

/* line 7, ../sass/global.scss */
.header, .service, .work, .pricing, .client {
  padding-left: 10%;
  padding-right: 10%;
}

/* line 11, ../sass/global.scss */
.service .vlhl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 3, ../sass/_client.scss */
.client {
  text-align: center;
  background: url('../images/banner.png?1489567285');
  background-size: cover;
  background-position: center;
}
/* line 7, ../sass/_client.scss */
.client .clientText {
  padding-top: 8%;
}
/* line 9, ../sass/_client.scss */
.client .clientText .clientTitle {
  color: #ff0051;
  font-size: 19.2px;
}
/* line 14, ../sass/_client.scss */
.client .clientText .clientSubTitle {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14.4px;
  color: white;
}
/* line 21, ../sass/_client.scss */
.client .clientText img {
  width: 10%;
}
/* line 25, ../sass/_client.scss */
.client .clientBtn {
  padding: 3%;
}
/* line 28, ../sass/_client.scss */
.client .arrow {
  padding-bottom: 3%;
}
/* line 31, ../sass/_client.scss */
.client button {
  margin-right: 10px;
}
