@import "global";


.service{
  @extend %padding-fix;
  text-align: center;
  padding-bottom: 10%;

  .serviceText{
    padding: 8%;

    .title{
      @include title($second-color,$font-size*1.2);
    }
    .subTitle{
      @include subTitle($font-size*0.9);
    }
    img{
      width: 10%;
    }
  }

  .dash{
    img{
      width: 30%;
    }
  }
  .downArrow{
    padding: 5%;
  }

  .vlhl-center{
    @extend %vlhl-center;
    .titleFix{
      font-size:1em;
      font-family: sans-serif;
      font-weight: bold;
    }
    .addBtn{
      padding-top: 10px;
      button{

        color: $primary-color;
        border: #000;
        background: #000;
      }

    }
    .card-img-top{
      padding-top: 15%;
    }
  }

  .vlhl-center:hover{
    background: $second-color;
    color: $primary-color;
    transition: background-color 1s;
  }
  // .vlhl-center:hover::after{
  //    content: "87point,you can't not get any more.87point,you can't not get any more.";
  // }


}
