@import "global";

.work{
  @extend %padding-fix;
  @include banner-background("banner.png");
  @include banner-centerHeight(auto);
  .workText{
    padding-top: 8%;
    .title{
      @include title($second-color,$font-size*1.2);
    }
    .subTitle{
      @include subTitle($font-size*0.9);
      color: #FFF;
    }
    img{
      width: 10%;
    }
  }
  .workBtn{
    padding: 3%;
  }

  .mask{
  }
  .workPic1{
    z-index: 1;
    width: 100%;
    height: 200px;
    @include banner-background("banner.png");
    .lspan{
      font-size: 1.8em;
    }
  }
  .line{
    padding: 6%;
  }

  .icon{
    padding-top: 60%;
    span{
      padding: 3px;
    }
    .search{
      border:2px solid #fff;
      i{
        padding: 2px;
      }
    }
    .big{
      border:2px solid #fff;
      margin-left: 5px;
      margin-right: 5px;
    }
    .love{
      border:2px solid #fff;
    }
  }
  button:hover{
    background: $second-color;
    color:$primary-color;
  }
}
