@import "compass/css3";
$primary-color:#fff;
$second-color:#FF0051;

$font-size : 16px;

%padding-fix{
  padding-left: 10%;
  padding-right: 10%;
}
%vlhl-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
@mixin title($color,$fontSize){
  color:$color;
  font-size: $fontSize;
}
@mixin subTitle($fontSize){
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: $fontSize;
}

@mixin banner-background($image-url){
  background: image-url($image-url);
  background-size: cover;
  background-position: center;
}

@mixin banner-centerHeight($height){
  text-align: center;
  height: $height;
}
